### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## python
*.py[cod]
*$py.class
__pycache__/

.idea
*.jpg
*.png
### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mov
*.mp4
*.mpg
*.rm
*.swf
*.vob
*.wmv


# Created by https://www.gitignore.io/api/images
# Edit at https://www.gitignore.io/?templates=images

### Images ###
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max

# End of https://www.gitignore.io/api/images

core.*#
.ipynb_checkpoints/

best.onnx
best.trt
9bb896a834dca5b643a646e0079cdee070ab82
bestv5s.onnx
bestv8l.onnx
d5ecbc2e3d628ab48f7a606031e3b056957edb
bestv5sINT32.onnx
bestv5INT8.onnx
pack-1997a37600e0baff888f1cc3f338289b737cf59d.pack
pack-6ed36182703b3ce5c14b9a6c58ba3d84c4f61610.pack
pack-74d3a1b31e9223f20218810978b777b24be76842.pack
pack-f716735bf24727fd287a5317841aad22ed1ab4bb.pack
bestv5.onnx
best1.onnx
best1.trt
